/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#define DEFAULT 0
#define LOWER   1
#define RAISE   2
#define FNC   	3
#define GAME   	4

// flash using
// west build -p -b nice_nano -- -DSHIELD=crbn -DZMK_CONFIG="C:\Users\Jolene\zmk-config\config"


/ {
	combos {
		compatible = "zmk,combos";
		combo_ent {
			timeout-ms = <40>;
			key-positions = <14 40>;	// s lower
			bindings = <&kp RET>;
		};
		combo_del {
		    timeout-ms = <40>;
		    key-positions = <10 11>;	// p backspace
		    bindings = <&kp DEL>;
		};
		combo_esc {
		    timeout-ms = <40>;
		    key-positions = <1 2>;		// q w
		    bindings = <&kp ESC>;
		};
		combo_slash {
			timeout-ms = <50>;
		    key-positions = <32 33>;	// , .
		    bindings = <&kp FSLH>;
		};		
		combo_question_mark {
			timeout-ms = <50>;
		    key-positions = <33 34>;	// . UP
		    bindings = <&kp QMARK>;
		};
		combo_paren_left {
			timeout-ms = <40>;
		    key-positions = <15 16>;	// d f 
		    bindings = <&kp LPAR>;
		};		
		combo_paren_right {
			timeout-ms = <40>;
		    key-positions = <19 20>;	// j k 
		    bindings = <&kp RPAR>;
		};
		combo_curly_left {
			timeout-ms = <40>;
		    key-positions = <14 15>;	// s d 
		    bindings = <&kp LBRC>;
		};
		combo_curly_right {
			timeout-ms = <40>;
		    key-positions = <20 21>;	// j k
		    bindings = <&kp RBRC>;
		};
		combo_square_left {
			timeout-ms = <40>;
		    key-positions = <15 28>;	// d v 
		    bindings = <&kp LBKT>;
		};
		combo_square_right {
			timeout-ms = <40>;
		    key-positions = <20 31>;	// m k
		    bindings = <&kp RBKT>;
		};	
	};
	
	behaviors {
		hm: homerow_mods {
            compatible = "zmk,behavior-hold-tap";
            label = "HOMEROW_MODS";
            #binding-cells = <2>;
            tapping-term-ms = <180>;
            quick_tap_ms = <0>;
            flavor = "tap-preferred";
            bindings = <&kp>, <&kp>;
        };

   		enct: enc_tab {
			compatible = "zmk,behavior-mod-morph";
			label = "enc_tab";
			#binding-cells = <0>;
			bindings = <&kp C_VOL_DN>, <&kp LS(TAB)>;
			mods = <(MOD_LCTL|MOD_RCTL)>;
		};

   		encst: enc_stab {
			compatible = "zmk,behavior-mod-morph";
			label = "enc_stab";
			#binding-cells = <0>;
			bindings = <&kp C_VOL_UP>, <&kp TAB>;
			mods = <(MOD_LCTL|MOD_RCTL)>;
		};


	};
	
	keymap {
		compatible = "zmk,keymap";

		default_layer {
				// -----------------------------------------------------------------------------------------
				// |  ESC  |  Q   |  W   |  E   |  R   |  T   |   Y   |  U   |  I   |  O   |   P  | BSPC |
				// |  TAB  |  A   |  S   |  D   |  F   |  G   |   H   |  J   |  K   |  L   |   ;  |  '   |
				// | SHIFT |  Z   |  X   |  C   |  V   |  B   |   N   |  M   |  ,   |  .   | UARW | RET  |
				// |  FNC  | WIN  | LALT | LCTL | LOWR | BSPC |	SPACE | RAIS | RCTL | LARW | DARW | RARW |

			bindings = <
        /* ╭──────1──────┬──────2──────┬──────3──────┬──────4──────┬──────5──────┬──────6──────┬──────7───────┬────────8────────┬──────9──────┬──────10──────┬──────11──────┬──────12──────╮ */

			&kp C_MUTE	   	&kp Q		 &kp W 		   &kp E 		 &kp R 		   &kp T 		&kp Y 			&kp U  		 		&kp I 			&kp O 		&kp P 			&kp BSPC
			&lt RAISE TAB	&kp A		 &kp S   		&kp D 		&hm LSHFT F		&kp G 		&kp H			&hm LSHFT J   		&kp K 			&kp L 		&kp SEMI 		&kp SQT
			&kp LSHFT	   	&kp Z		 &kp X 		   &kp C 		 &kp V 		   &kp B 		&kp N			&kp M  		 		&kp COMMA 		&kp DOT 	&kp UP	 		&kp RET
			&mo FNC 		&kp LGUI 	 &kp LALT 	   &kp LCTRL 	 &mo LOWER 	   &kp BSPC		&kp SPACE		&lt RAISE SPACE 	&kp RCTRL	 	&kp LEFT	&kp DOWN 		&kp RIGHT
			>;
			sensor-bindings = <&inc_dec_kp C_VOL_DN C_VOL_UP>;
		};

		lower {
			bindings = <
        /*  	1					2			3			4			5				6			7			8			9			10				11				12			*/
				&kp C_PP			&kp LS(N1) 	&kp LS(N2) 	&kp LS(N3) 	&kp LS(N4) 		&kp LS(N5) 	&kp LS(N6) 	&kp LS(N7) 	&kp LS(N8) 	&kp LS(N9) 		&kp LS(N0) 		&kp DEL
				&kp GT		 		&kp F1 		&kp F2 		&kp F3 		&kp F4 			&kp F5  	&kp F6 	 	&kp HOME 	&kp END 	&kp PG_UP		&kp PG_DN		&kp PIPE
				&trans			 	&kp F7 		&kp F8 		&kp F9 		&kp LC(LS(M))	&kp F11 	&kp F12 	&kp FSLH 	&trans	 	&trans  		&trans  		&trans
				&trans 				&trans 		&trans 		&trans 		&trans 			&trans 		&trans 		&mo FNC 	&trans 		&trans 			&trans 			&trans
			>;
			sensor-bindings = <&inc_dec_kp LC(LS(TAB)) LC(TAB)>;
		};   
	
		raise {
			bindings = <
		/*  	1					2			3			4			5				6				7			8			9			10				11				12			*/
				&kp C_PLAY_PAUSE 	&kp GRAVE 	&kp LS(N9) 	&kp UP	 	&kp LS(N0) 		&kp BSLH 		&kp N0 		&kp N1 		&kp N2 		&kp N3 			&kp PLUS 		&kp DEL
				&kp DEL 			&kp TILDE	&kp LEFT 	&kp DOWN  	&kp RIGHT 		&kp F5 			&kp EQUAL 	&kp N4 		&kp N5 		&kp N6 			&kp MINUS 		&kp LT
				&trans 				&kp C_PREV 	&kp C_PP 	&kp C_NEXT 	&kp BSPC 		&kp FSLH 		&kp UNDER 	&kp N7 		&kp N8 		&kp N9 			&kp DOT 		&kp COMMA
				&trans 				&trans 		&trans 		&trans 		&trans			&lt FNC ESC 	&trans 		&trans 		&trans 		&trans 			&trans 			&trans
			>;
			sensor-bindings = <&inc_dec_kp C_PREV C_NEXT>;
		};     
		
		FNC {
			bindings = <
				&reset 	&bootloader 	&bt BT_CLR 	&kp UP		&kp LA(F4)		&bt BT_SEL 0 	&bt BT_SEL 1 	&trans 			&kp UP 		&trans		&trans 	&trans
				&trans 	&trans 			&kp LEFT 	&kp DOWN 	&kp RIGHT		&kp C_BRI_DN 	&kp C_BRI_UP 	&kp LEFT 		&kp DOWN 	&kp RIGHT 	&trans 	&trans
				&trans 	&trans 			&trans 		&trans 		&kp LC(LS(M)) 	&trans 			&trans			&trans 			&trans 		&trans 		&trans 	&trans
				&trans 	&trans 			&trans 		&trans 		&trans 			&trans 			&trans			&trans 			&trans 		&trans 		&trans 	&trans
			>;
			sensor-bindings = <&inc_dec_kp PG_UP PG_DN>;

		};

		GAME  {
			bindings = <
			&kp C_MUTE	   	&kp Q		 &kp W 		   &kp E 		 &kp R 		   &kp T 		&kp Y 			&kp U  		 		&kp I 			&kp O 		&kp P 			&kp BSPC
			&kp TAB			&kp A		 &kp S 		   &kp D 		 &kp F 		   &kp G 		&kp H			&kp J  		 		&kp K 			&kp L 		&kp SEMI 		&kp SQT
			&sk LSHFT	   	&kp Z		 &kp X 		   &kp C 		 &kp V 		   &kp B 		&kp N			&kp M  		 		&kp COMMA 		&kp DOT 	&kp UP	 		&kp RET
			&mo FNC 		&kp LGUI 	 &kp LALT 	   &kp LCTRL 	 &mo LOWER 	   &kp BSPC		&kp SPACE		&lt RAISE SPACE 	&kp RCTRL	 	&kp LEFT	&kp DOWN 		&kp RIGHT
			>;
			sensor-bindings = <&inc_dec_kp C_VOL_DN C_VOL_UP>;
		};


	};
};



&lt {
    tapping-term-ms = <150>;
	};
